
<h2>Username:</h2>
<p><%= @user_name %></p>

<h2>Email Address:</h2>
<p><%= @email %></p>

<h2>Interests:</h2>
<% @interests.each do |interest| %>
  <p><%= interest %>,</p>
<% end %>

<h2>Other Users:</h2>
<% user_list(@user_name).each do |user| %>
  <a href="/<%= user %>"><%= user %>, </a>
<% end %>